<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
	<head>
		<!-- meta -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name='description' content='<%= config.description %>'>
		<%
		var headers = config.site_headers || [];
		for (var i = 0, l = headers.length; i < l; i++) { 
		%>
		<%- headers[i] %>
		<% } %>
		<link title="RSS" type="application/rss+xml" rel="alternate" href="/rss" />
		<!-- style -->
		<link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.min.css" media="screen" />
		<link rel='stylesheet' type='text/css' href='/libs/code-prettify/prettify.css' />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style2.css" media="screen" />
		<!-- script -->
		<script type='text/javascript' src='/libs/jquery/jquery.js'></script>
		<script type='text/javascript' src='/libs/bootstrap/js/bootstrap.min.js'></script>
		<script type='text/javascript' src='/javascripts/main.js'></script>
		<script type='text/javascript' src='/libs/code-prettify/prettify.js'></script>

		<% if (locals.topic) { %>
		<title><%= topic.title %> - <%= config.name %></title>
		<% } else { %>
		<title><%= config.description %></title>
		<% } %>
		
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-31150305-1']);
		  _gaq.push(['_setDomainName', 'a.haskellcn.org']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>

	</head>
	<body>
		<!-- navbar -->
		<div class='navbar navbar-fixed-top'>
			<div class='navbar-inner'>
				<div class='container'>
					<a class='brand' href='/'><%- config.site_logo || config.name %></a>
                    <div class="nav-collapse">
                      <ul class="nav">
               			<% if(locals.current_user && locals.current_user.messages_count > 0){ %>
                        <li>
                          <a href='/my/messages'><span class='label label-info'><%= locals.current_user.messages_count %></span></a>
                        </li>
               			<% } %>
                      </ul>
                    </div>
					<ul class='nav pull-right'>
                        <li><a target="_blank" href="http://www.haskellcn.org/study.html">学习资料</a></li>
                        <li class="divider-vertical"></li>
						<% if (locals.current_user) { %>
						<li>
                          <a href='/setting'><%- locals.current_user.name %></a>
                        </li>
						<li><a href='/signout'>退出</a></li>	
						<% } else { %>
						<li><a href='/signin'>登录</a></li>	
						<li><a href='/signup'>注册</a></li>	
						<% } %>

					<form id='search_form' class='navbar-search'>
						<input type='text' id='q' name='q' class='search-query span2'/>
					</form>

					</ul>
				</div>
			</div>
		</div>
		<!-- wrapper -->	
		<div id='wrapper'>
			<div id='main'>
				<%- body %>
			</div>
			<div class='cl cr'></div>
		</div>
		<!-- footer -->
		<div id='footer'>
			<div id="footer_main">
			<div class='col_fade'>&copy; 
              <a href="http://www.haskellcn.org/">HaskellCN.org</a> 2012 | 
              <a href='http://weibo.com/haskellcnorg/'>微博</a> |
              <a href='https://github.com/HaskellCNOrg/'>Github</a> | 
			  <%
				 var site_navs = config.site_navs || [];
				 for (var i = 0, l = site_navs.length; i < l; i++) {
                     var nav = site_navs[i];
               %>
			   <a href="<%- nav[0] %>" target="<%- nav[2] %>"><%- nav[1] %></a> | 
			   <% } %>

              <a rel="license" title="CC-BY-SA 3.0协议" href="http://zh.wikipedia.org/wiki/Wikipedia:CC-by-sa-3.0%E5%8D%8F%E8%AE%AE%E6%96%87%E6%9C%AC" style="margin-left: 10px;"><img alt="知识共享许可协议" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/2.5/cn/88x31.png"></a>
			</div>
			</div>
		</div>

	</body>
</html>	
