<%- partial('sidebar') %>

<div id='content'>
	<div class='panel'>
		<div class='header'>
			<ul class='breadcrumb'>
				<li><a href='/'>主页</a><span class='divider'>/</span></li>
				<li class='active'>关于</li>
			</ul>
		</div>
		<div class='inner'>
			<div class='topic_content'>
				<p></p>
				<p>We are just Fans of Haskell.</p>
                <ul>
                  <li><a href='http://www.haskellcn.org/'>主站</a></li>
                  <li><a href='https://github.com/muyuan/nodeclub/' target='_blank'>本社区的开源系统</a></li>
                </ul>
			</div>
		</div>
	</div>	
</div>
